@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 90vh;
}

table{
    margin: 5% auto;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    /* text-align: left; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 70%;
}
table thead tr {
    background-color: #1bbe9d;
    /* color: #fff; */
    text-align: left;
    font-weight: bold;
}

table th,
table td .cellContent{
    padding: 20px 15px;
    color: #fff;
    text-align: left;
}

table tbody td{
    padding: 20px 15px;
}

table tbody tr{
    border-bottom: 1px solid lightgray;
    padding: 0px 15px;
}
table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}